@charset "UTF-8";
/* line 1, C:/Users/Коля/Desktop/life/sass/components/firstsecbotle.sass */
.firstsecbotle {
  padding-top: 100px;
  background-color: #dee3e9;
}

/* line 4, C:/Users/Коля/Desktop/life/sass/components/firstsecbotle.sass */
.life__wrap {
  position: relative;
}

/* line 6, C:/Users/Коля/Desktop/life/sass/components/firstsecbotle.sass */
.life__wrap-txt {
  padding-bottom: 50px;
}

/* line 8, C:/Users/Коля/Desktop/life/sass/components/firstsecbotle.sass */
.life__wrap-txt h2 {
  font-size: 24px;
  font-family: "OpenSans";
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

/* line 14, C:/Users/Коля/Desktop/life/sass/components/firstsecbotle.sass */
.bottlename {
  display: flex;
  justify-content: space-between;
}

/* line 18, C:/Users/Коля/Desktop/life/sass/components/firstsecbotle.sass */
.bottlename .plastic-bottle p {
  font-size: 18px;
  font-family: "OpenSans";
  font-weight: bold;
  text-transform: uppercase;
}

/* line 23, C:/Users/Коля/Desktop/life/sass/components/firstsecbotle.sass */
.bottlename .smart-bottle {
  padding-right: 300px;
}

/* line 25, C:/Users/Коля/Desktop/life/sass/components/firstsecbotle.sass */
.bottlename .smart-bottle p {
  font-size: 18px;
  font-family: "OpenSans";
  font-weight: bold;
  text-transform: uppercase;
}

/* line 30, C:/Users/Коля/Desktop/life/sass/components/firstsecbotle.sass */
.plastbotle {
  display: flex;
  align-items: center;
}

/* line 33, C:/Users/Коля/Desktop/life/sass/components/firstsecbotle.sass */
.plastbotle-txt {
  padding-bottom: 85px;
}

/* line 35, C:/Users/Коля/Desktop/life/sass/components/firstsecbotle.sass */
.plastbotle-items {
  display: flex;
  align-items: center;
  padding-bottom: 50px;
}

/* line 39, C:/Users/Коля/Desktop/life/sass/components/firstsecbotle.sass */
.plastbotle-items .plastbotle-items-img {
  padding-right: 35px;
}

/* line 41, C:/Users/Коля/Desktop/life/sass/components/firstsecbotle.sass */
.plastbotle-items .plastbotle-items-txt {
  font-size: 16px;
  font-family: "OpenSans";
  font-weight: normal;
  line-height: 1.5;
}

/* line 46, C:/Users/Коля/Desktop/life/sass/components/firstsecbotle.sass */
.plastbotle-blockimg {
  display: flex;
  align-items: center;
  padding: 0 50px;
}

/* line 50, C:/Users/Коля/Desktop/life/sass/components/firstsecbotle.sass */
.plastbotle-blockimg .lineforbotleimg {
  height: 600px;
  width: 1px;
  background-color: #1cc4ca;
}

/* line 54, C:/Users/Коля/Desktop/life/sass/components/firstsecbotle.sass */
.plasbotle-blocktwo-items {
  display: flex;
  align-items: center;
  padding-bottom: 50px;
}

/* line 58, C:/Users/Коля/Desktop/life/sass/components/firstsecbotle.sass */
.plasbotle-blocktwo-items .plasbotle-blocktwo-img {
  padding-right: 35px;
}

/* line 60, C:/Users/Коля/Desktop/life/sass/components/firstsecbotle.sass */
.plasbotle-blocktwo-items .plasbotle-blocktwo-txt {
  font-size: 16px;
  font-family: "OpenSans";
  font-weight: normal;
  line-height: 1.5;
}

/* line 65, C:/Users/Коля/Desktop/life/sass/components/firstsecbotle.sass */
.romb {
  position: absolute;
  bottom: -33px;
  left: 165px;
  width: 70px;
  height: 70px;
  background-color: #dee3e9;
  transform: rotateZ(45deg);
}

/*# sourceMappingURL=../../css/components/firstsecbotle.map */