@charset "UTF-8";
/* line 1, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
.headerforsite {
  background-image: url("../img/backbootle.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  position: relative;
}

@media only screen and (max-width: 1200px) and (min-width: 1200px) {
  /* line 1, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
  .headerforsite {
    height: 50vh;
  }
}

@media only screen and (max-width: 768px) {
  /* line 1, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
  .headerforsite {
    height: 100vh;
  }
}

@media only screen and (max-width: 375px) {
  /* line 1, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
  .headerforsite {
    height: 100%;
  }
}

/* line 13, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
.headerlen__wrap {
  display: flex;
  padding-top: 30px;
  justify-content: space-between;
  padding-bottom: 45px;
}

@media only screen and (max-width: 375px) {
  /* line 19, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
  .headerlen__wrap .logolen {
    padding-right: 30px;
  }
  /* line 21, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
  .headerlen__wrap .contactlen {
    display: flex;
    flex-direction: column;
  }
  /* line 24, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
  .headerlen__wrap .contactbotle {
    flex-direction: column;
  }
  /* line 26, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
  .headerlen__wrap .contactbotle a {
    font-size: 15px;
  }
  /* line 29, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
  .headerlen__wrap .deliverybotle p {
    font-size: 15px;
  }
}

/* line 31, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
.contactbotle {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

/* line 35, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
.contactbotle a {
  font-size: 18px;
  font-family: "OpenSans";
  font-weight: lighter;
  color: #dde7f2;
  text-decoration: none;
}

/* line 42, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
.deliverybotle p {
  font-size: 18px;
  font-family: "OpenSans";
  font-weight: lighter;
  color: #dde7f2;
}

/* line 47, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
.botlesale__wrap {
  padding-bottom: 60px;
}

@media only screen and (max-width: 375px) {
  /* line 47, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
  .botlesale__wrap {
    padding-bottom: 0px;
  }
}

/* line 52, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
.botlesale__wrap .botle-head h1 {
  font-size: 30px;
  font-family: "OpenSans";
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 25px;
  color: #dde7f2;
}

/* line 59, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
.botlesale__wrap .botle-head p {
  font-size: 18px;
  font-family: "OpenSans";
  font-weight: normal;
  text-transform: uppercase;
  color: #dde7f2;
}

@media only screen and (max-width: 375px) {
  /* line 66, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
  .botlesale__wrap .botle-head h1 {
    font-size: 26px;
  }
  /* line 68, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
  .botlesale__wrap .botle-head p {
    font-size: 17px;
  }
}

/* line 70, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
.botlefunction {
  padding-left: 30px;
}

/* line 72, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
.botlefunction .botleimgtwo {
  display: none;
}

@media only screen and (max-width: 375px) {
  /* line 72, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
  .botlefunction .botleimgtwo {
    display: block;
    padding-right: 25px;
  }
  /* line 77, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
  .botlefunction .botleimgtwo img {
    width: 100%;
  }
}

/* line 79, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
.botlefunction .functionall {
  display: flex;
  align-items: center;
  padding-bottom: 50px;
}

/* line 83, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
.botlefunction .functionall p {
  color: #dde7f2;
  font-size: 16px;
  font-family: "OpenSans";
  font-weight: bold;
  width: 33%;
  line-height: 1.5;
  margin-right: 40px;
}

@media only screen and (max-width: 375px) {
  /* line 83, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
  .botlefunction .functionall p {
    width: 65%;
  }
}

/* line 93, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
.botlefunction .functionall .linebotle {
  height: 2px;
  width: 31%;
  background-color: #fff;
}

@media only screen and (max-width: 375px) {
  /* line 93, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
  .botlefunction .functionall .linebotle {
    display: none;
  }
}

/* line 99, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
.botlefunction .functionall .checked {
  display: none;
}

@media only screen and (max-width: 375px) {
  /* line 99, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
  .botlefunction .functionall .checked {
    display: block;
  }
}

/* line 103, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
.botlefunction .botleimg {
  position: absolute;
  right: 17%;
  top: 15%;
}

@media only screen and (max-width: 1200px) and (min-width: 1024px) {
  /* line 103, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
  .botlefunction .botleimg {
    transform: translateX(72%);
    width: 30%;
    right: 25%;
    display: block;
  }
  /* line 112, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
  .botlefunction .botleimg img {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  /* line 103, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
  .botlefunction .botleimg {
    width: 35%;
    right: 0%;
    top: 25%;
  }
  /* line 118, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
  .botlefunction .botleimg img {
    width: 100%;
  }
}

@media only screen and (max-width: 375px) {
  /* line 103, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
  .botlefunction .botleimg {
    display: none;
  }
}

/* line 122, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
.botletimer {
  width: 850px;
  height: 190px;
  background-color: #ecf9fd;
  border-radius: 25px;
  box-shadow: 0px 0px 48px -8px black;
}

@media only screen and (max-width: 768px) {
  /* line 122, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
  .botletimer {
    width: 735px;
  }
}

@media only screen and (max-width: 375px) {
  /* line 122, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
  .botletimer {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
  }
}

/* line 135, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
.botletimer .botletimer-txt {
  padding: 20px;
}

/* line 137, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
.botletimer .botletimer-txt h4 {
  font-size: 18px;
  font-family: "OpenSans";
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 10px;
}

/* line 143, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
.botletimer .botletimer-txt p {
  font-size: 16px;
  font-family: "OpenSans";
  font-weight: normal;
}

@media only screen and (max-width: 375px) {
  /* line 135, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
  .botletimer .botletimer-txt {
    width: 100%;
  }
}

/* line 149, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
.botletimer .botletimer-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media only screen and (max-width: 375px) {
  /* line 149, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
  .botletimer .botletimer-items {
    display: flex;
    flex-direction: column;
  }
}

/* line 156, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
.botletimer .botletimer-items .botletimer-items-all.one {
  padding-left: 20px;
  width: 30%;
}

/* line 159, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
.botletimer .botletimer-items .botletimer-items-all.one p {
  font-size: 48px;
  font-weight: bold;
  font-family: "OpenSans";
  color: #1cc4ca;
  display: inline-block;
}

/* line 165, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
.botletimer .botletimer-items .botletimer-items-all.one span {
  font-size: 24px;
  font-weight: bold;
  font-family: "OpenSans";
  text-decoration: line-through;
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  /* line 172, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
  .botletimer .botletimer-items .botletimer-items-all.one p {
    font-size: 30px;
  }
  /* line 174, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
  .botletimer .botletimer-items .botletimer-items-all.one span {
    font-size: 20px;
  }
}

@media only screen and (max-width: 375px) {
  /* line 156, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
  .botletimer .botletimer-items .botletimer-items-all.one {
    padding-left: 0;
    width: 60%;
    padding-bottom: 15px;
  }
}

/* line 180, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
.botletimer .botletimer-items .botletimer-items-all.two {
  width: 20%;
}

/* line 182, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
.botletimer .botletimer-items .botletimer-items-all.two p {
  font-size: 18px;
  font-weight: normal;
  font-family: "OpenSans";
}

@media only screen and (max-width: 768px) {
  /* line 187, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
  .botletimer .botletimer-items .botletimer-items-all.two p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 375px) {
  /* line 180, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
  .botletimer .botletimer-items .botletimer-items-all.two {
    width: 100%;
    padding-bottom: 15px;
  }
  /* line 192, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
  .botletimer .botletimer-items .botletimer-items-all.two p {
    text-align: center;
  }
}

/* line 194, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
.botletimer .botletimer-items .botletimer-items-all-flex {
  display: flex;
}

@media only screen and (max-width: 375px) {
  /* line 194, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
  .botletimer .botletimer-items .botletimer-items-all-flex {
    padding-bottom: 15px;
  }
}

/* line 198, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
.botletimer .botletimer-items .botletimer-items-all.three {
  margin-right: 15px;
  background-color: #fff;
  width: 90px;
  height: 60px;
  border-radius: 15px;
}

/* line 204, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
.botletimer .botletimer-items .botletimer-items-all.three p {
  font-size: 36px;
  font-weight: bold;
  font-family: "OpenSans";
  color: #1cc4ca;
  text-align: center;
}

/* line 210, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
.botletimer .botletimer-items .botletimer-items-all.three span {
  font-size: 14px;
  font-weight: bold;
  font-family: "OpenSans";
  color: #c0bebe;
  display: block;
  text-align: center;
}

/* line 217, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
.botletimer .botletimer-items button {
  margin-left: 10px;
  margin-right: 20px;
  width: 240px;
  height: 55px;
  background-color: #1cc4ca;
  border: none;
  border-radius: 25px;
  font-size: 24px;
  font-weight: bold;
  font-family: "OpenSans";
  color: #fff;
}

@media only screen and (max-width: 375px) {
  /* line 217, C:/Users/Коля/Desktop/life/sass/components/headerforsite.sass */
  .botletimer .botletimer-items button {
    margin-left: 0;
    margin-right: 0;
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
}

/*# sourceMappingURL=../../css/components/headerforsite.map */